<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Spring</title>
<link th:href="@{/dist/images/h.png}" rel="icon">

<!-- Fonts -->
<link href="https://fonts.googleapis.com" rel="preconnect">
<link href="https://fonts.gstatic.com" rel="preconnect">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  
<!-- Vendor CSS Files -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="https://unpkg.com/aos@2.3.4/dist/aos.css">
<link rel="stylesheet" th:href="@{/dist/vendor/perfect-scrollbar/perfect-scrollbar.css}" type="text/css">

<link rel="stylesheet" th:href="@{/dist/css/core.css}" type="text/css">
<link rel="stylesheet" th:href="@{/dist/css/main.css}" type="text/css">
<link rel="stylesheet" th:href="@{/dist/css/forms.css}" type="text/css">
<link rel="stylesheet" th:href="@{/dist/css/login-full.css}" type="text/css">

</head>

<body>

<main class="full-main">
	<div class="card-container">
		<div class="full-main-bg">
			<div class="large-circle-1"></div>
			<div class="small-circle-1"></div>
			<div class="large-circle-2"></div>
			<div class="small-circle-2"></div>
		</div>	
	
		<div class="card-wrapper">
			<div class="card-header">
				<a th:href="@{/}">
					<span class="brand-icon"><i class="bi bi-stars"></i></span>
					<span class="brand-name">Spring</span>
				</a>
			</div>
			
			<div class="login-form">
				<div class="login-form-header">
					<h3>Login</h3>
				</div>
				<div class="login-form-body">
				
					<form name="loginForm" action="" method="post" class="row g-3">
						<div>
							<input type="text" name="login_id" class="form-control" placeholder="아이디">
						</div>
						<div>
							<input type="password" name="password" class="form-control" autocomplete="off" placeholder="패스워드">
						</div>
						<div class="d-flex justify-content-between">
							<div class="form-check">
								<input class="form-check-input rememberMe" type="checkbox" id="rememberMe">
								<label class="form-check-label" for="rememberMe"> 아이디 저장</label>
							</div>
							<div>
								<a th:href="@{/}" class="border-link-right">아이디 찾기</a>
							</div>
						</div>
						<div>
							<button type="button" class="btn-accent btn-lg w-100" onclick="sendLogin()">Login</button>
						</div>
						<div class="d-flex justify-content-between">
							<button type="button" class="btn-light flex-fill me-2" onclick="loginWithKakao()"><i class="bi bi-chat-fill kakao-icon" onclick="loginWithKakao()"></i> 카카오</button>
							<button type="button" class="btn-light flex-fill me-2"><span class="naver-icon">N</span> 네이버</button>
							<button type="button" class="btn-light flex-fill"><i class="bi bi-google google-icon"></i> 구 글</button>
						</div>
                        
						<div>
							<p class="form-control-plaintext text-center text-danger p-0">
								<small th:utext="${message}">메시지 입니다.</small>
							</p>
							<p class="form-control-plaintext text-center">
								<a th:href="@{/member/pwdFind}" class="border-link-right me-2">패스워드를 잊으셨나요 ?</a>
							</p>
						</div>
					</form>
				</div>
				<div class="login-form-footer">
					<p class="form-control-plaintext text-center">
						아직 회원이 아니세요 ?
						<a th:href="@{/member/account}" class="border-link-right">회원가입</a>
					</p>
				</div>
			</div>
			
		</div>
	</div>
</main>

<script type="text/javascript">
window.addEventListener('DOMContentLoaded', ev => {
	const savedId = localStorage.getItem("savedLoginId");

	if (savedId) {
		const loginIdEls = document.querySelectorAll('form input[name=login_id]') || [];
		const rememberMeEls = document.querySelectorAll('form .rememberMe') || [];
		
		for(let el of rememberMeEls) {
			el.checked = true;
		}
		
		for(let el of loginIdEls) {
			el.value = savedId;
		}
	}
});

function sendLogin() {
    const f = document.loginForm;
    
    if( ! f.login_id.value.trim() ) {
        f.login_id.focus();
        return;
    }

    if( ! f.password.value.trim() ) {
        f.password.focus();
        return;
    }

    const rememberMeChk = document.getElementById("rememberMe").checked;
    if (rememberMeChk) {
	    localStorage.setItem("savedLoginId", f.login_id.value.trim());
	} else {
	    localStorage.removeItem("savedLoginId");
	}
    
	f.action = '[(@{/member/login})]';
    f.submit();
}
</script>

<!-- Vendor JS Files -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>	
<script type="text/javascript" src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
<script type="text/javascript" th:src="@{/dist/vendor/perfect-scrollbar/perfect-scrollbar.min.js}"></script>

</body>

</html>